client/.idea
client/node_modules
server/.idea
testcases/keygenes/.idea
testcases/keygenes/node_modules
server/constants/types/__pycache__

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.DS_Store
